.booking-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f8f9fa;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
}

.booking-container h2 {
  color: rgba(0, 0, 0, 0.8);
}

h2 {
  margin-bottom: 20px;
}

h3 {
  color: black;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.form-group input, .form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-group input:focus, .form-group select:focus {
  outline: none;
  border-color: #4caf50;
}

.btn-next, .btn-back, .btn-confirm {
  width: 48%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-next {
  background-color: #4caf50;
}

.btn-next:hover {
  background-color: #388e3c;
}

.btn-back {
  background-color: #df8033;
}

.btn-back:hover {
  background-color: rgb(255, 89, 0);
}

.btn-confirm {
  background-color:  #007bff;
}

.btn-confirm:hover {
  background-color: #0056b3;
}

p {
  font-size: 18px;
  color: #555;
  margin: 5px 0;
}
